languages
mu-plugins/*
!mu-plugins/mu-plugins.php
plugins/*
!plugins/index.php
!plugins/impact-text
!plugins/impact-image
!plugins/impact-image-wrapper
!plugins/quick-icons
!plugins/food-block
!plugins/image-cover-block

upgrade
uploads
wordpress
